# BigData
**/*.embeddings.memmap
# .knowt-data/corpus_obsidian
**/.ipynb_checkpoints
.venv/
venv/
.env
.DS_Store
Include
Lib
Scripts
share

**/*.joblib
**/*.pickle

# DL models
*.pt
**/checkpoints/
**/checkpoint/
reveal.js/

# bigdata
db.sqlite3
*.zip
*.pkl
*.npy
*.pkl
*.db
*.faiss
**/simple-transformers
**/albert-large-*
/char_rnn_from_scratch_refactored.meta.json

# submodules
src/wikipedia
src/nessvec

# Temporary and binary files
condaenv.*.requirements.txt
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
*.orig
*.log
disaster_tweets_cnn_pipeline*.json
*.pot
.pytest_cache/*
__pycache__/*
.DS_*
.cache/*
.*.swp
.ipynb_checkpoints
**/.ipynb_checkpoints/*
.coverage*
cache_dir/
pyproject.toml.bak

# repo2docker
.ipython
.jupyter
.jupyter-server-log.txt

# pypi package setup files
# pyproject must not be in root dir for `pip install -e .` to work
# pyproject.toml
# !scripts/pyproject.toml
# !setup.cfg

# Internal working cache for poetry
poetry.lock

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags
*.code-workspace
# *.sublime-workspace

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/
pytest-results*

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
runs/*
MANIFEST

# Mac
__MACOSX

# KDE
.directory

# Per-project virtualenvs
.venv*
venv

# docs html
docs/**/*.html

# secrets and private user data
.env
**/*secret*
**/*private*
**/*credential*
**/*obsidian*
**/*Obsidian*
!.env_template
!.env.example
!.env_example

# frontend (js)
**/node_modules
.aider*
